
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Post Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='postingsjobs.css') }}">
 
</head>
<body>
   
   
    <h1>Job Post Details</h1>
    
        <div class="post">
            
            <p><strong>Post ID:</strong> {{ post[0] }}</p>
            <p><strong>Created Date:</strong> {{ post[1] }}</p>
            <p><strong>Job Description:</strong> {{ post[2] }}</p>
            <p><strong>Company Name:</strong> {{ post[3] }}</p>
            <p><strong>Job Type:</strong> {{ post[4] }}</p>
            <p><strong>Address:</strong> {{ post[5] }},{{ post[6] }},{{ post[7] }},{{ post[8] }},{{ post[9] }}</p>
            <p><strong>Skill Set Names:</strong> {{ post[10] }}</p>
            </div>
        
</body>
</html>

