<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Applicant Review</title>
    <!-- Include your CSS stylesheets here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='jobsearch.css') }}">
</head>
<body>
    <h1>Job Applicant Review</h1>

   
    <div class="action">
        <h2>Job Post ID: {{ post[0] }}</h2>
        <a class="action" href="/viewjp/{{ post[0] }}">Click here to view job details!</a>
            
        <h3>Applicants:</h3>
        <ul>
          
                <p><strong>Applicant ID:</strong> {{ post[1] }}</p>
                <p><strong>Apply Date:</strong> {{ post[2] }}</p>
                <p><strong>Status:</strong> {{ post[4]}}</p>
                <!-- Add more applicant details as needed -->
                <a class="action" href="/applicant_profile/{{ post[1] }}" onclick="trackProfileVisit('{{ post[1] }}')">View Profile</a>
 <!-- Include your JavaScript code here -->
<script>
    function trackProfileVisit(app_id) {
        // Send an AJAX request to track the profile visit
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/track_visit/' + app_id, true);
        xhr.send();
    }
</script>
            
        </ul>
    </div>
    <form  method="post">
    <div class="action">
        <label for="action">Select Action:</label>
          <select name="action" id="action" required>
            <option value="" disabled selected>Select an action </option>
            {% for action in actions %}
            <option value="{{ action }}">{{ action }}</option>
            {% endfor %}
          </select>
      </div>
      <div class="action">
      
        <button type="submit">Confirm Action</button>
    </form>
</div>

   
</body>
</html