{% extends "base.html" %}


{% block content %}
<div class="sjpage">
 
    
        <h1>Job Posts</h1>
        {% if job_posts %}
            <ul>
                {% for post in job_posts %}
                <article class="post">
                    
                        <div>
                            <h1>Post ID: {{ post[0] }}</h1>
                            <div class="about">{{ post[1] }}</div>
                           
                        </div>
                        <form action="/apply_job/{{ post[0] }}" method="post">
                            <button type="submit">Apply</button>
                        </form>
                    <p class="body">{{ post[2] }}</p>
                    <a class="action" href="/viewjp/{{ post[0] }}">Click here to view job details!</a>
            
                </article>
                {% if not loop.last %}
                    <hr>
                {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <p>No job posts found.</p>
        {% endif %}
   

</div>
{% endblock %}