<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Company Registration Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='comreg.css') }}">
</head>
<body>
  <div class="container">
    <h2>Company Registration Form - Job Portal</h2>
    <form id="companyForm" enctype="multipart/form-data" action="{{ url_for('employer.compreg') }}" method="post"> <!-- enctype attribute added for file upload -->
      <div class="form-group">
        <label for="companyName">Company Name:</label>
        <input type="text" id="companyName" name="companyName" required>
      </div>
      <!--company destination and profile description to be added later-->
      <div class="form-group">
        <label for="profiledesc">Profile Description:</label>
        <input type="text" id="profiledesc" name="profiledesc" required>
      </div>
      <div class="form-group">
        <label for="stream">Select Business Stream:</label>
        <select name="stream" id="stream" required>
          <option value="" disabled selected>Select a stream</option>
          {% for stream in streams %}
          <option value="{{ stream }}">{{ stream }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="establishmentDate">Establishment Main Date:</label>
        <input type="date" id="establishmentDate" name="establishmentDate" required >
      </div>
      <div class="form-group">
        <label for="companyURL">Company URL:</label>
        <input type="url" id="companyURL" name="companyURL" required>
      </div>
      <div class="form-group">
        <label for="companyimgURL">Company Logo URL:</label>
        <input type="url" id="companyimgURL" name="companyimgURL" required>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>