{% extends "base.html" %}

{% block title %}Job Portal Login{% endblock %}

{% block content %}
<div class="employerpage">
    
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Job Seeker Dashboard</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      
      <!-- Custom CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    </head>
    <body>
      <div class="container">
        <div class="dashboard-container">
    
          <div class="dashboard-header">
            <h1>Employer Dashboard</h1>
          </div>
         
          <div class="dashboard-content">
            <a href="{{ url_for('portal.alljobposts') }}"  class="card total-jobs">
              <div class="card-body">
                <h5 class="card-title">Total job posts</h5>
                <p class="card-text">You have {{ total_posts }}  job posts</p>
              </div>
            </a>
            <a href="activejobs.html" class="active-jobs">
              <div class="card-body">
                <h5 class="card-title">Active Job posts</h5>
                <p class="card-text">You have 2 active job posts</p>
              </div>
            </a>
            <a href="applicants.html" class="card ats">
              <div class="card-body">
                <h5 class="card-title">Job Applicants</h5>
                <p class="card-text">ATS</p>
              </div>
            </a>
          </div>
      
    </body>
    </html>
   
</div>
{% endblock %}