<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=5.0">
    <title>Job Portal Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- Linking CSS file -->
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="{{ url_for('dashboard') }}" method="get">  <!--write get method to view html page-->
            <div class="form-group">
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" >
               
            </div>
        </form>
        <p>Forgot your password? <a href="forgot_password.html">Reset Password</a></p>
        <p>Don't have an account? <a href="{{ url_for('register') }}">Signup</a></p>
    </div>
</body>
</html>
