{% extends "base.html" %}

{% block title %}seeker search{% endblock %}

{% block content %}
<style>
    body {
        background-image: url(../static/bluw.avif); /* Specify the path to your image */
        background-size: cover; /* Adjust as needed */
        background-position: center; /* Adjust as needed */
    }
</style>

<div class="appliedjobs">
    <h1>All applied jobs</h1>
    {% if applied_jobs %}
        <table class="applied-jobs-table">
            <thead>
                <tr>
                    <th>Application ID</th>
                    <th>Apply Date</th>
                    <th>Post ID</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for post in applied_jobs %}
                <tr>
                    <td>{{ post[0] }}</td>
                    <td>{{ post[2] }}</td>
                    <td>{{ post[1] }}</td>
                    <td>{{ post[3] }}</td>
                    <td>
                        <a class="action" href="/viewjp/{{ post[1] }}">View Job Details</a>
                        <form action="/delete_application/{{ post[0] }}" method="post">
                            <button type="submit">Delete Application</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% else %}
        <h2>You haven't applied yet.</h2>
    {% endif %}

    <div class="seeksearch-form">
        <form action="{{ url_for('portal.hello_flask') }}" method="POST">
            <input type="text" name="job_title" placeholder="Enter Job Title" required>
            <input type="text" name="company" placeholder="Enter Company">
            <button type="submit">Search</button>
        </form>
    </div>
</div>
{% endblock %}
