/* Reset default margin and padding */
 * {
  margin: 0;
 padding: 0;
  box-sizing: border-box;
}

/* Style the main container */
.main1 {
  width: 70%; /* Adjusted width */
  margin: 50px auto; /* Centering the container */
  position: relative; /* Required for absolute positioning */
}

/* Style the heading */
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Style the form */
form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

/* Style the input boxes */
.input_box {
  margin-bottom: 20px;
}

.input_box select,
.input_box input[type="text"],
.input_box input[type="date"],
.input_box textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the icons */
.detail {
  margin-right: 10px;
  color: #555;
}

/* Style the button */
.button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 10px;
  background-color: #787c80;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main1 {
      width: 90%;
  }

  /* Adjust button for smaller screens */
  .button {
      bottom: 20px;
      right: 20px;
  }
}
