body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("{{ url_for('static', filename='images/bluw.png') }}");
    background-size: cover;
    background-position: center;
}

.vppage {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.profile-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 30px;
}

.profile-section {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.profile-section h2 {
    color: #007bff;
}

.animate {
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.action {
    /* Your styles here */
    background-color: #812bd7; /* Background color */
    color: #ffffff; /* Text color */
    padding: 8px 16px; /* Padding */
    border-radius: 4px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
}

.action:hover {
    background-color: #6a1aa3; /* Background color on hover */
}