{% extends "base.html" %}

{% block title %}seeker search{% endblock %}

{% block content %}
<div class="appliedjobs">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All applied jobs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='jobsearch.css') }}">
 
</head>
<body>
    
    <h1>All applied jobs </h1>
    {% if applied_jobs %}
    <ul>
    {% for post in applied_jobs %}
        <div class="post">
            
            <p><strong>Application ID:</strong> {{ post[0] }}</p>
            <p><strong>Apply Date:</strong> {{ post[2] }}</p>
            <p><strong>Post Id:</strong> {{ post[1] }}</p>
            <p><strong>Status:</strong> {{ post[3] }}</p>
            <a class="action" href="/viewjp/{{ post[1] }}">Click here to view job details!</a>
            
            <form action="/delete_application/{{ post[0] }}" method="post">
                <button type="submit">Delete Application</button>
            </form>
           
        </div>
        
        {% if not loop.last %}
                    <hr>
                {% endif %}
    {% endfor %}
</ul>
    {% else %}
    <h1>You Haven't applied yet.</h1>
    {% endif %}
    <div class="seeksearch-form">
        <form action="{{ url_for('portal.hello_flask') }}" method="POST">
        <input type="text" name="job_title" placeholder="Enter Job Title" required>
        <input type="text" name="company" placeholder="Enter Company">
        <button  type="submit">Search</button>
      </form>
      </div>
</body>
</html>



</div>
{% endblock %}