{% extends "base.html" %}

{% block title %}Job Portal Login{% endblock %}

{% block content %}
<div class="edudetailspage"
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education_detail</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='education.css') }}">
</head>
<body>
    <div class="main">
        <h2 class="text-center mt-5 mb-4">Fill Education details</h2>
        <form id="educationForm" action="{{ url_for('seeker.buildprofile') }}" method="POST">
            <div class="education">
                

                <div class="input_box">
                    <span class="detail"><i class="fa fa-graduation-cap"></i></span>
                    <input type="text" placeholder="Certified-degree (B.Tech,BSc.,BEd,etc.)" id="degree" name="degree" required>
                </div>

                <div class="input_box">
                    <span class="detail"><i class="fa fa-graduation-cap"></i></span>
                    <input type="text" placeholder="Major (CSE,IT,Microbiology,etc)" id="major" name="major" required>
                </div>

                <div class="input_box">
                    <span class="detail"><i class="fa fa-school"></i></span>
                    <input type="text" placeholder="Institute/University name" id="university" name="university"required>
                </div>

                <div class="input_box">
                    <span class="detail"><i class="fa fa-calendar"></i></span>
                    <label for="st_date">Starting date</label>
                    <input type="date" class="form-control" id="st_date" placeholder="Starting date" name="st_date" required>
                    <label for="end_date">End date</label>
                    <input type="date" class="form-control" id="end_date" placeholder="End date" name="end_date" required>
                </div>

                <div class="input_box">
                    <span class="detail"><i class="fa fa-percent"></i></span>
                    <input type="text" placeholder="Percentage" id="percentage" name="percentage" required>
                </div>

                <div class="input_box">
                    <span class="detail"><i class="fa fa-marker"></i></span>
                    <input type="text" placeholder="CGPA" id="CGPA" name="cgpa" required>
                </div>

                <div class="input_box">
                    <button type="submit" >Next</button>
                </div>

            </div>
        </form>
    </div>

    
</body>
</html>
</div>
{% endblock %}