
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='home .css') }}">
</head>
<body>
  <header>
    <nav>
      <ul class="nav-links">
        <li><a href="{{ url_for('portal.hello_flask') }}">Home</a></li>
        <li> {% if g.user %}
          <a href="{{ url_for('user.logout') }}">Logout</a>
        {% else %}
          <a href="{{ url_for('user.login') }}">Login</a>
        {% endif %}
      </li>
        <li><a href="{{ url_for('portal.aboutus') }}">About</a></li>
      </ul>
    </nav>
  </header>

<!-- Password Reset 8 - Bootstrap Brain Component -->
<section class="bg-light p-3 p-md-4 p-xl-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-xxl-11">
          <div class="card border-light-subtle shadow-sm">
            <div class="row g-0">
              <div class="col-12 col-md-6">
                <img class="img-fluid rounded-start w-100 h-100 object-fit-cover" loading="lazy" src="{{ url_for('static', filename='images/forgotimage.png') }}" alt="Welcome back you've been missed!">
              </div>
              <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                <div class="col-12 col-lg-11 col-xl-10">
                  <div class="card-body p-3 p-md-4 p-xl-5">
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-5">
                          <div class="text-center mb-4">
                            <a href="#!">
                              <img src="{{ url_for('static', filename='images/logo.png') }}" alt="My Jobs Logo" width="175" height="57">
                            </a>
                          </div>
                          <h2 class="h4 text-center">Password Reset</h2>
                          <h3 class="fs-6 fw-normal text-secondary text-center m-0">Provide the email address associated with your account to recover your password.</h3>
                        </div>
                      </div>
                    </div>
                    <form action="{{ url_for('user.forgot_password') }}" method="post">
                      <div class="row gy-3 overflow-hidden">
                        <div class="col-12">
                          <div class="form-floating mb-3">
                            <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                            <label for="email" class="form-label">Email</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="password" id="password"  required>
                            <label for="password" class="form-label">New Password</label>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="d-grid">
                            <button class="btn btn-dark btn-lg" type="submit">Reset Password</button>
                          </div>
                        </div>
                      </div>
                    </form>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <p>&copy; 2024 Job Portal. All rights reserved.</p>
  </footer>
</body>
</html>
