<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Portal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <header>
        <!-- Desingn NAvbar here -->
        <div class="nav-container">
            <div><h1>JOB PORTAL</h1></div>
           <!-- <div id="logo"><img src="wellfoun.svg" srcset=""></div> -->
            <nav class="navbar">
                <li> <a href="{{ url_for('user.login') }}"></a>I am Job seekers</li>
                <li> <a href="{{ url_for('user.login') }}"></a>I am Job Employer</li>
                <!-- <li><a href=""></a>For job seekers</li> -->
            </nav>
            <div class="nav-btn">
               <a href="{{ url_for('portal.hello_flask') }}"> <button >HOME</button></a>
               {% if g.user %}
        <a href="{{ url_for('user.logout') }}"> <button >Logout</button></a>
      {% else %}
        <a href="{{ url_for('user.login') }}"><button >Login</button></a>
      {% endif %}
             <a href="{{ url_for('portal.aboutus') }}"><button >About Us</button></a>
            </div>
        </div>
        <div>
    </header>
    <main class="main">
        <div class="main-container">
            <h1>Welcome to Job <span>Portal:</span></h1>
            <p>Find Your Dream Job here...</p>
            <div class="srchbar">
                <form  action="{{ url_for('portal.hello_flask') }}" method="POST">
                    <input type="text" name="jobtitle" class="search-input" placeholder="Enter Job Title">
                    <input type="text" name="company" class="search-input" placeholder="Enter Company">
                    <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                
            </div>
        </div>
        <div class="job-title">
            <!-- here Job titile devliver through Javascript -->
        </div>
        <h3>HIRING COMPANIES</h3>
        <!-- Likewise I get Job Title from Dacend via Javascript and Show on Frontemd...You Have to Get also details of Job for JobCard and render on Frontend.. -->
        <div class="Job-card">
            <div class="card">
                <h4 id="cardtitle"> Software Engineer</h4>
                <p id="company">Amazon</p>
                <p id="descrition">Amazon.com strives to be Earth's most customer-centric company where people can find and discover virtually anything they want to buy online. By giving customers more of what they want - low prices, vast selection, and convenience - Amazon.com continues to grow and evolve as a world-class e-commerce platform. Amazon's evolution from Web site to e-commerce partner to development platform is driven by the spirit of innovation that is part of the company's DNA. The world's brightest technology minds come to Amazon.com to research and develop technology.</p>
                <div class="btns">
                    <button><a href="https://www.amazon.jobs/en/">Visit Amazon</a></button>
                </div>
                
            </div>
            <div class="card">
                <h4 id="cardtitle">Devops Engineer</h4>
                <p id="company">Adobe</p>
                <p id="descrition">All the reasons to bring your career here.
                    Join us to reinvent how people create and brands succeed. At Adobe, you’ll help make software that shows the world what digital experiences can be, from e-signatures to blockbuster movies to ecommerce sites and more. Better still, you’ll be surrounded by a community guided by core values that inspire creativity, promote equality, and make you feel right at home..</p>
                    <div class="btns">
                        <button><a href="https://www.adobe.com/careers.html">Visit Adobe</a></button>
                    </div>
                    
            </div>
            <div class="card">
                <h4 id="cardtitle">Cloud Engineer</h4>
                <p id="company">Google</p>
                <p id="descrition">Google LLC is an American multinational corporation and technology company focusing on online advertising, search engine technology, cloud computing, computer software, quantum computing, e-commerce, consumer electronics, and artificial intelligence.</p>
                <div class="btns">
                    <button><a href="https://www.google.com/about/careers/applications/jobs/results/?company=Google&company=YouTube&jld=20&jlo=en_US&location=20.593684%3A78.96288000000004%3AIndia%3AIN%3A%3A1518.7802295086196%3ACOUNTRY%3A%3A%3A%3A%3A%3A&sort_by=date">Apply to Google</a></button>
                </div>
            </div>
            
        </div>
        <div class="image-container">
            {% for image in images %}
                <div class="image-item">
                    <img src="{{ image[0] }}" alt="Company Image">
                </div>
            {% endfor %}
        </div>
      
    </main>
    <footer>&copy; 2024 Job Portal. All rights reserved.</footer>

    <script>
        // Fetch Here Job Profiles from backend with id use js Objects key-value Pair and handle eve Events
        const jobtitles = ["Software Development", "Web Development", "Mobile App Development", "Data Science", "Cybersecurity", "Devops", "AWS Cloud Engineer", "MERN Developer", "Java Full Stack Developer","Database Engineer", "Frontend Developer", "Backend Developer","Finance and Accounting","Financial Analysis","Banking","Investment Management","Sales and Marketing","Sales Representatives","Marketing Manager","Digital Marketing Specialist","Advertising","Public Relations","Education","Teaching","Academic Administration","Education Consultant","Instructional Design","Special Education","HR Generalist","Recruiter","Training and Development","Compensation and Benefits","HR Managers"];
      
        const container = document.querySelector(".job-title");
        
        //here by  Using ForEach loop Array i traverse each elemt in array and render Job profiles on Frontend(DOM Manipulation)

        jobtitles.forEach((string) => {
          // Create a new div element
          var div = document.createElement("div");

          // Set the text content to the current string
          div.textContent = string;
          // Append the div to the container
          container.appendChild(div);
        });

        container.style.height = container.scrollHeight + "px";
      </script>
</body>

</html>